{% extends 'base.html.twig' %}

{% block title %}SecteurZone index{% endblock %}

{% block body %}
    <h1>SecteurZone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secteur_zone in secteur_zones %}
            <tr>
                <td>{{ secteur_zone.id }}</td>
                <td>{{ secteur_zone.codePostal }}</td>
                <td>{{ secteur_zone.ville }}</td>
                <td>{{ secteur_zone.createdAt ? secteur_zone.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_secteur_zone_show', {'id': secteur_zone.id}) }}">show</a>
                    <a href="{{ path('app_secteur_zone_edit', {'id': secteur_zone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_secteur_zone_new') }}">Create new</a>
{% endblock %}
