{% extends 'base.html.twig' %}

{% block title %}SecteurZone{% endblock %}

{% block body %}
    <h1>SecteurZone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur_zone.id }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ secteur_zone.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ secteur_zone.ville }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ secteur_zone.createdAt ? secteur_zone.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secteur_zone_index') }}">back to list</a>

    <a href="{{ path('app_secteur_zone_edit', {'id': secteur_zone.id}) }}">edit</a>

    {{ include('secteur_zone/_delete_form.html.twig') }}
{% endblock %}
