{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1>
                    <i class="fas fa-cog me-2 text-primary"></i>{{ pageTitle }}
                </h1>
                <a href="{{ path('app_admin_postes_travail') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Retour à la liste
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">
                        <i class="fas fa-edit me-2"></i>Informations du poste
                    </h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.code) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.categorie) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.libelle) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.description) }}
                    </div>

                    <hr class="my-4">

                    <h6 class="mb-3">
                        <i class="fas fa-euro-sign me-2 text-success"></i>Coûts et Temps
                    </h6>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            {{ form_row(form.coutHoraire) }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form_row(form.tempsSetup) }}
                        </div>
                        <div class="col-md-4 mb-3">
                            {{ form_row(form.tempsNettoyage) }}
                        </div>
                    </div>

                    <hr class="my-4">

                    <h6 class="mb-3">
                        <i class="fas fa-cogs me-2 text-info"></i>Caractéristiques
                    </h6>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.capaciteJournaliere) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.uniteCapacite) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-check">
                                {{ form_widget(form.necessiteOperateur) }}
                                {{ form_label(form.necessiteOperateur) }}
                            </div>
                            <div class="form-check mt-2">
                                {{ form_widget(form.polyvalent) }}
                                {{ form_label(form.polyvalent) }}
                            </div>
                            <div class="form-check mt-2">
                                {{ form_widget(form.actif) }}
                                {{ form_label(form.actif) }}
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_admin_postes_travail') }}" class="btn btn-secondary">
                            <i class="fas fa-times me-2"></i>Annuler
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i>{{ poste.id ? 'Modifier' : 'Créer' }}
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
