{% extends 'base.html.twig' %}

{% block title %}Modifier Commande {{ commande.numeroCommande }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fas fa-edit"></i> Modifier Commande {{ commande.numeroCommande }}</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="d-flex justify-content-between mt-3">
                        <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour
                        </a>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Sauvegarder
                            </button>
                            <form method="post" action="{{ path('app_commande_delete', {'id': commande.id}) }}" style="display: inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash"></i> Supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}